
{{> head }}
{{> navbar }}

<div class="container">
   <table class="table">

  <tr>
    <td>Madirid</td>
    <td>Paris</td>
  </tr>
  <tr>
     <td>La temperatura es : {{madrid}} C</td>

    <td>La temperatura es : {{paris}} C</td> <td>C</td>
  </tr>

</table>
</div>

  {{> footer }}