
{{> head }}
{{> navbar }}

<div class="container">
   <table class="table">

  <tr>
    <td>Madirid</td>
    <td>Paris</td>

  </tr>

  <tr>

    <td>c</td>

    <td>C</td>


  </tr>

</table>
</div>

  {{> footer }}