
{{> head }}
{{> navbar }}

<div class="container">
  <div class="row">
    <div class="col">
        <h1>Shadowhunters </h1>
     es una serie de televisión de fantasía, acción 
    <div class="col">
      <img src="https://cde.laprensa.e3.pe/ima/0/0/2/0/8/208573.jpg" class="img-thumbnail">
    </div>
  </div>
</div>

  {{> footer }}