
   {{> head }}
    {{> navbar }}

    <div class="jumbotron">
       <table class="table">

  <tr>
    <td>Quito</td>
    <td>Guayaquil</td>

  </tr>

  <tr>

     <td>La temperatura es : {{quito}} C</td>

    <td>La temperatura es : {{guay}} C</td>


  </tr>

</table>
    </div>


    {{> footer }}