
   {{> head }}
    {{> navbar }}

    <div class="jumbotron">
       <table class="table">

  <tr>
    <td>Quito</td>
    <td>Guayaquil</td>

  </tr>

  <tr>

    <td>h</td>

    <td>Celda 5</td>


  </tr>

</table>
    </div>


    {{> footer }}